:root {
    --bg: rgba(255, 255, 255, 0.05);
    --s-bg: rgba(255, 255, 255, 0.25);
    --shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    --filter: blur(2.5px);
    --p: 20px;
    --r: 25px;
}


body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('bg.jpg') no-repeat center center/cover;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

h1,
h4 {
    margin: 0;
}

.inbox {
    width: fit-content;
    padding: 0;
    position: absolute;
    top: 15px;
    right: 15px;
}

.inbox a {
    padding: var(--p);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    background: var(--bg);
    box-shadow: var(--shadow);
    backdrop-filter: var(--filter);
    -webkit-backdrop-filter: var(--filter);
    border-radius: var(--r);
}

.inbox a h1 {
    margin: 0;
}

main {
    width: 60%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background: transparent;
}

section {
    width: 100%;
    height: fit-content;
    padding: var(--p);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg);
    backdrop-filter: var(--filter);
    -webkit-backdrop-filter: var(--filter);
    box-shadow: var(--shadow);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: var(--r);
}

.sec-1 {
    flex-direction: column;
    gap: 15px;
    font-size: 40px;
}

.sec-1 h1 {
    margin: 20px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    /* Start with width 0 */
    animation: greet 2s steps(20) 1 forwards, cursor 0.5s 6;
}

@keyframes greet {
    0% {
        width: 0;
        content: ' ';
    }

    100% {
        width: 19.5ch;
    }
}

@keyframes cursor {
    0% {
        border-right: 3px solid transparent;
    }

    100% {
        border-right: 3px solid white;
    }

}

.sec-1 form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.sec-1 .search-bar {
    width: calc(80% - 50px);
    height: 40px;
    margin: 20px 0;
    padding: 10px 10px 10px 30px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--s-bg);
    box-shadow: var(--shadow);
    backdrop-filter: var(--filter);
    -webkit-backdrop-filter: var(--filter);
    border: none;
    border-radius: 25px 0 0 25px;
}

.sec-1 .search-bar::placeholder {
    font-size: 20px;
    color: white;
}

.sec-1 .search-bar:focus {
    outline: none;
}

.sec-1 .search-btn {
    height: 60px;
    padding: 0 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: var(--shadow);
    backdrop-filter: var(--filter);
    -webkit-backdrop-filter: var(--filter);
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.sec-2 {
    gap: 15px;
}

.sec-2 ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sec-2 ul li {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-2 ul li a {
    padding: 20px;
    text-decoration: none;
    color: white;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.sec-2 ul li a span {
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.sec-2 ul li a span:hover {
    color: rgba(255, 255, 255, 0.35);
}

.sec-2 ul li a h6 {
    margin: 0;
    font-size: 15px;
}

.sec-2 ul li .add {
    height: fit-content;
    padding: 7.5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: var(--shadow);
    backdrop-filter: var(--filter);
    -webkit-backdrop-filter: var(--filter);
    border-radius: var(--r);
    cursor: pointer;
}

.sec-2 ul li .add:hover {
    background: rgba(255, 255, 255, 0.35);
}

.dialogue {
    width: 50%;
    height: fit-content;
    padding: 40px var(--p);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background: var(--bg);
    backdrop-filter: var(--filter);
    -webkit-backdrop-filter: var(--filter);
    box-shadow: var(--shadow);
    border-radius: var(--r);
    position: fixed;
    top: auto;
    left: auto;
}

.dialogue h1 {
    margin: 0;
    font-size: 40px;
}

.dialogue .close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
}

.dialogue form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.dialogue form input {
    width: 60%;
    padding: 10px 10px 10px 30px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--s-bg);
    box-shadow: var(--shadow);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    border-radius: 25px;
}

.dialogue form input:focus {
    outline: none;
}

.dialogue form input::placeholder {
    font-size: 20px;
    color: white;
}

.dialogue form input[type="submit"] {
    width: 17.5%;
    padding: 10px 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(174, 0, 255, 0.35);
    box-shadow: var(--shadow);
    backdrop-filter: var(--filter);
    -webkit-backdrop-filter: var(--filter);
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.dialogue form input[type="submit"]:hover {
    background: rgba(174, 0, 255, 0.55);
}

.watermark {
    position: absolute;
    bottom: 15px;
    right: 15px;
    opacity: 0.75;
}